body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;

}

a { color: #008080 }

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  text-size-adjust: none;
}
code { background: #f9f9f9; }
pre code { background: none; -webkit-text-size-adjust: 100%; }



/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
/* Only style normal blockquotes */
blockquote:not(.katex-display) {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;

  max-width: 42em;
  margin: 1.5em auto;
  width: 100%;
  box-sizing: border-box;
}

blockquote:not(.katex-display) {
  overflow-anchor: none; /* optional */
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

.centered-image {
  text-align: center;
  display: block;
  margin: 1em auto;
  max-width: 100%;
  height: auto;
}

.centered-image img {
  display: inline-block;
}

img.in-text {
  display: block;
  margin: 1.5em auto;
  max-width: 100%;
  height: auto;
}

.katex-display {
  min-height: 1.5em;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  padding: 0.5em 0;
}

html { 
    scroll-behavior: smooth;
}
